<div class="ml-5 mr-5 bg-white">
<!--  <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>-->
<!--  <full-calendar (dateClick)="handleDateClick($event)" defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="false"></full-calendar>-->

  <full-calendar
    #calendar
    defaultView="dayGridMonth"
    [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
    [plugins]="calendarPlugins"
    [weekends]="calendarWeekends"
    [events]="calendarEvents"
    (dateClick)="handleDateClick($event)"
    [selectable]="selectable"
  ></full-calendar>

</div>
